@font-face {
    font-family: 'Fjalla One';
    src: url('fonts/FjallaOne-Regular.eot');
    src: url('fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/FjallaOne-Regular.woff') format('woff'),
        url('fonts/FjallaOne-Regular.ttf') format('truetype'),
        url('fonts/FjallaOne-Regular.svg#FjallaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Friz';
    src: url('fonts/FrizQuadrataBold.eot');
    src: url('fonts/FrizQuadrataBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrizQuadrataBold.woff') format('woff'),
        url('fonts/FrizQuadrataBold.ttf') format('truetype'),
        url('fonts/FrizQuadrataBold.svg#FrizQuadrataBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body, html {
	padding: 0;
	margin: 0;
	font-family: "Friz"; 
}

header {
    background-image: url(headerImgLeagueRandomizer.jpg);
    background-size: 100%;
    height: 250px;
    width: auto;
    border-bottom: black 2px solid;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size:60px;
    text-align: center;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -fit-content;
    color: darkgoldenrod;
    -webkit-text-stroke: 2px black;
    

}
.content {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100vh;
    height:100%;
    padding-top: 10%;

    background-image: url(backgroundLeagueRandomizer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#wrapper {
    width: 50%;
    position: relative;
    margin: auto;
    border:darkslategray 5px solid;
    border-radius: 12px;
    margin-bottom: 200px;
}

#marker {
    z-index: 999;
    position: absolute;
    top:2px;
    left:50%;
    background-color: grey;
    opacity: 0.7;
    width:6px;
    height: 120px;
    box-shadow: -1px 0px 0px 0px black, 1px 0px 0px 0px black;
}

img {
    display:block;
    margin:auto;
    max-width: 100%;
}

.slider-item {
    background: black;
    border: 2px solid #333;
    position: relative;
}

#randButton {
    height: 50px;
    width: 230px;
    margin: auto;
    background-color: darkgrey;
    border:black 2px solid;
    border-radius: 12px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;

    transition: background-color 0.5s, font-size 0.5s;
}

#randButton:hover {
    cursor: pointer;
    background-color: blue;
    font-size: 40px;
}
